In [1]:
import requests
import json
import pandas as pd

In [2]:
csv_file='crime_data_w_population_and_crime_rate.csv'
crime_counties_df= pd.read_csv(csv_file)
crime_counties_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,200,1778,3609,4995,13791,3543,464,318416,29,510
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,38,165,662,1482,1753,189,28,49746,5,35
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,2,5,119,82,184,12,2,7629,17,3
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,3,1,2,5,4,4,0,412,48,261
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,4,17,368,149,494,60,0,27083,22,31

In [3]:
crime_counties_df['state']= crime_counties_df['county_name'].str.split(',').str[1]
crime_counties_df['county_name']= crime_counties_df['county_name'].str.split(',').str[0]

crime_counties_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,state
0,St. Louis city,1791.995377,1,1,4,1612,318667,318667,15,15,...,1778,3609,4995,13791,3543,464,318416,29,510,MO
1,Crittenden County,1754.914968,2,1,4,130,50717,50717,4,4,...,165,662,1482,1753,189,28,49746,5,35,AR
2,Alexander County,1664.700485,3,1,4,604,8040,8040,2,2,...,5,119,82,184,12,2,7629,17,3,IL
3,Kenedy County,1456.310680,4,1,4,2681,444,444,1,1,...,1,2,5,4,4,0,412,48,261,TX
4,De Soto Parish,1447.402430,5,1,4,1137,26971,26971,3,3,...,17,368,149,494,60,0,27083,22,31,LA

In [4]:
csv_states='state_names.csv'
state_names_df= pd.read_csv(csv_states)
state_names_df.columns={'state_name','state'}
state_names_df.head()

  state_name       state
0         AK      Alaska
1         AZ     Arizona
2         AR    Arkansas
3         CA  California
4         CO    Colorado

In [7]:
crime_counties_df = crime_counties_df[['county_name', 'state', 'crime_rate_per_100000', 
    'index', 'MURDER', 'RAPE', 'ROBBERY', 'AGASSLT', 'BURGLRY', 'LARCENY', 'MVTHEFT', 
    'ARSON', 'population']]

crime_counties_df

,county_name,state,crime_rate_per_100000,index,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population
0,St. Louis city,MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416
1,Crittenden County,AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746
2,Alexander County,IL,1664.700485,3,1,2,5,119,82,184,12,2,7629
3,Kenedy County,TX,1456.310680,4,0,3,1,2,5,4,4,0,412
4,De Soto Parish,LA,1447.402430,5,3,4,17,368,149,494,60,0,27083
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,Ohio County,IN,0.000000,3132,0,0,0,0,2,2,0,0,5994
3132,Newton County,MS,0.000000,3133,0,0,0,0,4,0,1,0,21689
3133,Jerauld County,SD,0.000000,3134,0,0,0,0,1,3,1,0,2066
3134,Cimarron County,OK,0.000000,3135,0,0,0,0,1,2,0,0,2335
3135,Lawrence County,MS,0.000000,3136,0,0,0,0,0,0,0,0,12514

In [10]:
crime_counties_df = crime_counties_df.rename(columns ={'index': 'rank', 'MURDER': 'murder', 
'RAPE' : 'rape', 'ROBBERY': 'robbery', 'AGASSLT': 'aggravated_assault', 'BURGLRY': 'burglary', 
'LARCENY': 'larceny', 'MVTHEFT': 'motor_theft', 'ARSON': 'arson'})

crime_counties_df.head()

,county_name,state,crime_rate_per_100000,rank,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_theft,arson,population
0,St. Louis city,MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416
1,Crittenden County,AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746
2,Alexander County,IL,1664.700485,3,1,2,5,119,82,184,12,2,7629
3,Kenedy County,TX,1456.310680,4,0,3,1,2,5,4,4,0,412
4,De Soto Parish,LA,1447.402430,5,3,4,17,368,149,494,60,0,27083

In [13]:
crime_counties_df['total_violent_crime'] = crime_counties_df['murder'] + crime_counties_df['rape'] + crime_counties_df['robbery'] + crime_counties_df['aggravated_assault'] + crime_counties_df['burglary']+ crime_counties_df['larceny'] + crime_counties_df['motor_theft'] + crime_counties_df['arson']

crime_counties_df

,county_name,state,crime_rate_per_100000,rank,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_theft,arson,population,total_violent_crime
0,St. Louis city,MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416,28499
1,Crittenden County,AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746,4325
2,Alexander County,IL,1664.700485,3,1,2,5,119,82,184,12,2,7629,407
3,Kenedy County,TX,1456.310680,4,0,3,1,2,5,4,4,0,412,19
4,De Soto Parish,LA,1447.402430,5,3,4,17,368,149,494,60,0,27083,1095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,Ohio County,IN,0.000000,3132,0,0,0,0,2,2,0,0,5994,4
3132,Newton County,MS,0.000000,3133,0,0,0,0,4,0,1,0,21689,5
3133,Jerauld County,SD,0.000000,3134,0,0,0,0,1,3,1,0,2066,5
3134,Cimarron County,OK,0.000000,3135,0,0,0,0,1,2,0,0,2335,3
3135,Lawrence County,MS,0.000000,3136,0,0,0,0,0,0,0,0,12514,0

In [14]:
crime_counties_df.to_csv('complete_crime_counties.csv', index=True)